
.filtro-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  margin-left: 55px;
}

.filtro-input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filtro-input:focus {
  border-color: #007bff;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}

.lupa-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
}

.custom-table {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #dee2e6;
  width: 100%;
}

.custom-table thead {
  background-color: rgb(37, 64, 90);
  color: #fff;
}

.custom-table th,
.custom-table td {
  padding: 2rem;
  vertical-align: middle;
  border-color: #dee2e6;
}

.custom-table tbody tr {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-table tbody tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.btn-custom {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-custom.btn-edit {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-custom.btn-edit:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#btn-modal:checked ~ .container-modal {
  display: flex;
}

.content-modal {
  width: 100%;
  max-width: 900px;
  height: 650px;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  position: relative;
}

.content-modal h2 {
  margin-bottom: 5px;
}

.content-modal .btn-cerrar {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.content-modal .btn-cerrar label {
  padding: 7px 10px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover {
  background-color: #185e83;
}

.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
