/* Estilos generales para la modal */
#ModalFormM .modal-content {
  border-radius: 15px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: #f8f9fa;
}

/* Estilos para el botón de cerrar */
#ModalFormM .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

#ModalFormM .btn-close:hover {
  opacity: 1;
}

/* Estilos para el área del formulario */
#ModalFormM .form-area {
  padding: 1.5rem;
}

#ModalFormM .form-area h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1rem;
}

/* Estilos para las etiquetas */
#ModalFormM .form-label {
  font-weight: 500;
  color: black;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  text-align: left;
  display: block;
  width: 100%;
}

/* Estilos para los inputs */
#ModalFormM .form-control {
  margin-top: 14px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #000000;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 0.5rem;
}

#ModalFormM .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Estilos para el botón de enviar */
#ModalFormM .btn-light {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 0.5rem;
}

#ModalFormM .btn-light:hover {
  background-color: #0056b3;
}

/* Estilos para el modal-body */
#ModalFormM .modal-body {
  margin-top: 10px;
}

/* Estilos para el modal-dialog */
#ModalFormM .modal-dialog {
  max-width: 450px;
}

/* Estilos para el fondo de la modal */
#ModalFormM .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .form-area {
    padding: 1.5em;
  }

  .form-area h1 {
    font-size: 18px;
  }
}
