/* Estilos generales para la modal */
#ModalForm1 .modal-content {
  border-radius: 15px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: #f8f9fa; /* Fondo claro */
}

/* Estilos para el botón de cerrar */
#ModalForm1 .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

#ModalForm1 .btn-close:hover {
  opacity: 1;
}

/* Estilos para el área del formulario */
#ModalForm1 .form-area {
  padding: 1.5rem; /* Reducir el padding */
}

#ModalForm1 .form-area h1 {
  font-size: 1.5rem; /* Tamaño de fuente un poco más pequeño */
  font-weight: 600;
  color: #000000;
  margin-bottom: 1rem; /* Reducir el margen inferior */
}

/* Estilos para las etiquetas */
#ModalForm1 .form-label {
  font-weight: 500;
  color: #555;
  margin-bottom: 0.25rem; /* Reducir el margen inferior */
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  text-align: left; /* Alinear el texto a la izquierda */
  display: block; /* Asegurar que el label ocupe toda la línea */
  width: 100%; /* Ocupar el ancho completo */
}

/* Estilos para los inputs */
#ModalForm1 .form-control {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem; /* Reducir el padding */
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  color: #000000;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 0.5rem; /* Reducir el margen inferior */
}

#ModalForm1 .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Estilos para el botón de enviar */
#ModalForm1 .btn-light {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem; /* Reducir el padding */
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  font-weight: 500;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 0.5rem; /* Reducir el margen superior */
}

#ModalForm1 .btn-light:hover {
  background-color: #0056b3;
}

/* Estilos para el modal-body */
#ModalForm1 .modal-body {
  padding: 0; /* Eliminar el padding predeterminado */
}

/* Estilos para el modal-dialog */
#ModalForm1 .modal-dialog {
  max-width: 500px; /* Ancho máximo de la modal */
}

/* Estilos para el fondo de la modal */
#ModalForm1 .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.input {
  border: none;
  border-color: white;
  color: white;
  background-color: white;
}
.input:focus {
  outline: none;
}

.input::selection {
  background-color: white;
}
@media (max-width: 600px) {
  .form-area {
    padding: 1.5em;
  }
  .form-area h1 {
    font-size: 18px;
  }
}
